.photoContainer {
  font-size: 5rem;
  margin: 1rem;
  min-height: 50vh;
  border: #868e96 1px solid;
  border-radius: 0.7rem;
  background-color: white;
}

.imageContainer {
  font-size: 0.7rem;
  display: inline-block;
  padding: 0.5rem;
}
.imageContainer:hover {
  background-color: #ffe066;
  border: 1px solid #868e96;
  border-radius: 0.7rem;
}
.downloadImage {
  vertical-align: baseline;
}
.border {
  border-top: 1px solid #868e96;
  height: 4rem;
  display: flex;
  align-items: center;
  font-weight: 600;
}
.heading {
  height: 4rem;
  color: #fcc419;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}
