body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  color: #495057;
  background-color: #f8f9fa;
}

main {
  margin: 2rem auto;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
